<!DOCTYPE html>
<html>
<head>
	<title>TODO list</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}"/>
	<script src="{{ url_for('static', filename='js/default.js') }}"></script>
</head>
<body>


<div class="container">
	<table>
		<thead>
			<tr>
				<th>CATEGORY</th>
				<th>TODO</th>
				<th>CREATED</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			<form action="/add_data" method="POST">
			<tr>
				<td>
         			<input type="text" name="category" placeholder="new task category...">
				</td>
				<td>
        			<input type="text" name= "task" placeholder="new task...">
				</td>
				<td>
				</td>
				<td>
					<button class="button">
						<img src="{{url_for('static', filename='img/send.png')}}" width="35" height="25";/>
					</button>
				</td>
			</tr>
			</form>

			{% for todo in all_tasks %}
			<tr>
				<td>{{todo.category}}</td>
				<td>{{todo.task}}</td>
				<td>{{todo.created}}</td>
				<td>
				<form action="/delete/{{todo.id}}" method="POST">
					<button class="button">
						<img src="{{url_for('static', filename='img/thrash.png')}}" width="35" height="25";/>
					</button>
				</form>
				</td>

			</tr>
			{% endfor %}



		</tbody>




	</table>
</div>


<div class="container-btn">

	<form action="{{ url_for('show_history') }}" method="get">
	<button class="button">
		<img src="{{url_for('static', filename='img/history.png')}}" style="mix-blend-mode: multiply;background:transparent;" width="45" height="35"/>
	</button>
	</form>

</div>


</body>
</html>